.featured {
   padding: 3rem 1rem;
   background-color: #f7f7f7;
   color: #434e5e;
}

.featured__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.featured__cards {
   margin-bottom: 2rem;

   @media screen and (min-width: 992px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
   }

   .featured__card {
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

      @media screen and (min-width: 576px) {
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         min-width: 510px;
         min-height: 440px;
      }

      @media screen and (min-width: 992px) {
         justify-content: initial;

         min-width: 290px;
         min-height: 0px;
         max-height: 360px;
         margin: 0 0.8rem;
      }

      .featured__card-container {
         height: 193px;

         .featured__img-container {
            outline: none;
            border: none;

            .featured__img {
               border-top-right-radius: 3px;
               border-top-left-radius: 3px;
               height: 200px;
               width: 290px;
               cursor: pointer;
               transition: 0.2s ease-out;

               &:hover {
                  opacity: 0.6;
               }

               @media screen and (min-width: 576px) {
                  height: 335px;
                  width: 510px;
               }

               @media screen and (min-width: 992px) {
                  height: 193px;
                  width: 290px;
               }
            }
         }
      }

      .featured__txt-container {
         display: flex;
         flex-direction: column;
         width: 100%;
         align-items: center;
         justify-content: center;
         padding: 1rem 0;

         .featured__project {
            font-size: 1.3rem;
            color: #434e5e;
            margin-bottom: 7px;
         }

         .featured__techs-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 290px;

            @media screen and (min-width: 576px) {
               max-width: 100%;
            }

            @media screen and (min-width: 576px) {
               max-width: 290px;
            }

            .featured__techs {
               font-size: 0.9rem;
               color: #34cb79;
               background-color: #0f2049;
               margin: 5px;
               padding: 7px;
               border-radius: 0.9rem;
            }
         }
      }
   }

   .featured__card:not(:last-child) {
      margin-bottom: 2.5rem;

      @media screen and (min-width: 992px) {
         margin-bottom: 0;
      }
   }
}

// Back of the card
.featured__proj-info {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;

   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
   width: 290px;
   height: 200px;
   padding: 12px;
   background-color: #153273;
   color: #34cb79;

   @media screen and (min-width: 576px) {
      align-items: center;
      padding: 3rem 1rem;
      min-width: 510px;
      min-height: 335px;
   }

   @media screen and (min-width: 992px) {
      min-width: 290px;
      height: 0px;
      min-height: 193px;
      padding: 1rem;
   }

   .featured__proj-info-title {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 3px;

      @media screen and (min-width: 576px) {
         font-size: 1.8rem;
      }

      @media screen and (min-width: 992px) {
         font-size: 1.4rem;
      }
   }

   .featured__proj-info-p {
      font-size: 1.1rem;
      font-weight: 100;
      letter-spacing: 1px;

      @media screen and (min-width: 576px) {
         font-size: 1.3rem;
         margin: 2rem 0;
      }

      @media screen and (min-width: 992px) {
         font-size: 1rem;
         margin: 0.5rem 0;
      }
   }

   .featured__proj-info-btn {
      display: flex;
      align-items: center;
      justify-content: space-around;

      width: 100%;

      @media screen and (min-width: 992px) {
         align-items: normal;
      }

      .featured__btn {
         font-size: 1rem;
         font-weight: 400;
         padding: 0.8rem 0px;

         &:first-child {
            margin-right: 5px;
         }

         @media screen and (min-width: 576px) {
            font-size: 1.3rem;
         }

         @media screen and (min-width: 992px) {
            font-size: 1rem;
            width: 7rem;
         }
      }
   }
}
