.info {
   background-color: #0f2049;
   padding: 3rem 1rem;
}

.info__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   .info__img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
   }

   .info__txt-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 1rem 0;

      .info__h2 {
         font-size: 1.8rem;
         margin-bottom: 2rem;
         text-align: center;
      }

      .info__link {
         text-decoration: none;
         color: #f7f7f7;
      }
   }
}
