.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   padding: 3rem 1rem;
   background-color: rgb(247, 247, 247);
   color: #434e5e;

   .main__h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
   }

   .main__p {
      text-align: center;
      line-height: 21px;
      margin-bottom: 2.2rem;

      .main__anchor {
         color: #0f2049;
         text-decoration: none;
      }
   }

   .main__skill {
      display: flex;
      align-items: center;
      flex-direction: column;

      margin: 0 0 3.1rem 0;
      width: 100%;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

      .main__icon-container {
         display: flex;
         align-items: center;
         justify-content: center;

         width: 5rem;
         height: 5rem;
         background-color: #0f2049;
         border-radius: 50%;
         box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
         margin-top: -1.3rem;

         .main__icon-main {
            height: 2.3rem;
            width: 2.3rem;
            color: #34cb79;
         }
      }

      .main__skill-title {
         margin: 1.4rem 0;
         font-size: 1.6rem;
      }

      .main__ul {
         .main__li {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            .main__item {
               display: flex;
               height: 2rem;
               width: 100%;

               .main__svg {
                  height: 1.2rem;
                  width: 1.2rem;
                  margin-right: 0.5rem;
                  color: #34cb79;
               }
            }
         }
      }
   }

   .main__skill--last {
      margin-bottom: 0;
   }
}
