.card-container {
   height: 38rem;
   padding: 3rem 1rem;
}

.card {
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 1rem;
   border-radius: 2px;
   background-color: #f7f7f7;
   color: #434e5e;

   .card__quote-container {
      display: flex;

      .card__quote {
         margin-bottom: 1rem;
         height: 2rem;
         width: 2rem;
         color: #34cb79;
      }
   }

   .card__txt {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.3rem;
      text-align: center;
      height: 15rem;
      width: 100%;

      @media screen and (min-width: 375px) {
         height: 13rem;
      }
   }

   .card__avatar {
      margin: 1rem 0;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
   }

   .card__name {
      font-size: 1rem;
      font-weight: 600;
   }

   .card__position {
      font-size: 0.87rem;
   }

   .card__linkedin {
      display: flex;
      align-items: center;
      justify-content: center;

      .card__link {
         display: flex;
         align-items: center;
         justify-content: center;
         text-decoration: none;
         margin: 0.5rem;

         .card__link-icon {
            height: 1.8rem;
            width: 1.8rem;
            color: #34cb79;
            margin-right: 0.7rem;
         }

         .card__link-p {
            font-size: 0.9rem;
            font-weight: 500;
            letter-spacing: 1px;
            margin-top: 6px;
            color: #434e5e;
         }
      }
   }
}

// TINY SLIDER CONFIG
.tns-controls {
   height: 0;
}

[data-controls="prev"] {
   outline: none;
   width: 3rem;
   height: 3rem;
   color: #34cb79;
   background: transparent;
   -webkit-tap-highlight-color: transparent;
   border: none;
   position: relative;
   left: 2rem;
   top: 20.5rem;
   z-index: 10000;
   font-size: 3.2rem;

   @media screen and (min-width: 375px) {
      left: 2rem;
      top: 18.5rem;
   }

   @media screen and (min-width: 414px) {
      left: 3rem;
      top: 18.5rem;
   }
}

[data-controls="next"] {
   outline: none;
   width: 3rem;
   height: 3rem;
   color: #34cb79;
   background: transparent;
   -webkit-tap-highlight-color: transparent;
   border: none;
   position: relative;
   left: 10rem;
   top: 20.5rem;
   z-index: 10000;
   font-size: 3.2rem;

   @media screen and (min-width: 375px) {
      left: 13rem;
      top: 18.5rem;
   }

   @media screen and (min-width: 414px) {
      left: 14.6rem;
      top: 18.4rem;
   }
}
