.header {
   display: flex;
   flex-direction: column;

   background-color: #0f2049;

   .header__h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
   }

   .header__p {
      font-size: 1rem;
      text-align: center;
      line-height: 21px;
   }
}
