// Container
.container {
   width: 100%;
   margin-right: auto;
   margin-left: auto;

   @media screen and (min-width: 576px) {
      max-width: 540px;
   }

   @media screen and (min-width: 768px) {
      max-width: 720px;
   }

   @media screen and (min-width: 992px) {
      max-width: 960px;
   }

   @media screen and (min-width: 1200px) {
      max-width: 1140px;
   }
}

// Button
.btn {
   width: 88%;
   padding: 1rem;
   text-align: center;
   border: 3px;
   outline: none;
   font-size: 1.2rem;
   font-weight: 600;
   letter-spacing: 1px;
   background-color: #152a61;
   color: #34cb79;
   cursor: pointer;
   transition: 0.3s ease;

   &:hover {
      background-color: #2549a1;
   }

   @media screen and (min-width: 576px) {
      width: 80%;
   }

   @media screen and (min-width: 768px) {
      width: 55%;
   }

   @media screen and (min-width: 992px) {
      width: 35%;
   }
}

// Text
.h2 {
   font-size: 2rem;
   margin-bottom: 1rem;
}

.h2--no-margin {
   font-size: 2rem;
}

.paragraph {
   text-align: center;
   line-height: 21px;

   @media screen and (min-width: 768px) {
      font-size: 1.3rem;
      line-height: 28px;
   }
}
