// Button
.btn {
   width: 80%;
   height: 3rem;
   border: 3px;
   outline: none;
   font-size: 1.2rem;
   font-weight: 600;
   letter-spacing: 1px;
   background-color: #152a61;
   color: #34cb79;
}

// Text
.h2 {
   font-size: 2rem;
   margin-bottom: 2rem;
}

.h2--no-margin {
   font-size: 2rem;
}

.paragraph {
   text-align: center;
   line-height: 21px;
}
