* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #f7f7f7;
   color: #34cb79;
   -webkit-font-smoothing: antialiased;
}

body,
input,
button {
   font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
   text-decoration: none;
   color: inherit;
}

label {
   display: none;
}

textarea {
   margin: 0;
   font-family: inherit;
   resize: vertical;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
   transition: 0.3s all;
   transform: translateY(3px);
}
