.header__container--resume {
   @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;

      height: 200px;
   }
}

.header__btn {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   font-size: 1.1rem;
}
