.info--resume {
   background-color: #f7f7f7;
   color: #434e5e;

   .info__img--resume {
      width: 120px;
      height: 140px;
      border-radius: 4px;
   }

   .info__h2 {
      margin: 0.5rem 0;
   }

   .info__h3 {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 1rem;
   }

   .info__small-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      width: 100%;
      margin: 1rem 0 0 2rem;

      .info__anchor {
         display: flex;
         align-items: center;
      }

      .info__icon {
         font-size: 1.7rem;
         margin-right: 0.7rem;
         color: #34cb79;
      }

      .info__small {
         font-size: 0.9rem;
         font-weight: 500;
      }
   }
}
